body{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
    background-color: #011F3F;
    box-sizing: border-box;
}

.main-container{
    width: 100%;
    height: 100vh;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-counter{
    padding: 1rem;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1rem;
    border-radius: 1rem;
    border:rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.1);
}

.btns{
    display: flex;
    justify-content: space-between;
}

button{
    padding: 0.5rem;
    font-size: 200%;
    border-radius: 5px;
    border: none;
    background: none;
    cursor: pointer;
    font-style: "Press Start @p", cursive;
    color: aliceblue;
}

button:hover{
    border: 1rem;
    border:aliceblue;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.7s;
}

.hide{
    /* visibility: hidden; */
    display: none;
}

.shake {
    animation: vibrate 0.25s linear infinite;
}

@keyframes vibrate{
    0%{
        transform: translate(0, 0);
    }
    25%{
        transform: translate(10px, 0px);
    }
    50%{
        transform: translate(0, 0);
    }
    75%{
        transform: translate(-10px, 0px);
    }
    100%{
        transform: translate(0, 0);
    }
}

#warn{
    color: rgb(255, 136, 0);
}